<%= form_with(model: portfolio, local: true) do |form| %>
  <% if portfolio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(portfolio.errors.count, "error") %> prohibited this portfolio from being saved:</h2>

      <ul>
      <% portfolio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :portfolio_name %>
  </div>

  <div class="field">
    <%= form.label :client %>
    <%= form.text_field :client, id: :portfolio_client %>
  </div>

  <div class="field">
    <%= form.label :completed %>
    <%= form.date_select :completed, id: :portfolio_completed %>
  </div>

  <div class="field">
    <%= form.label :about %>
    <%= form.text_area :about, id: :portfolio_about %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
