<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @portfolio.name %>
</p>

<p>
  <strong>Client:</strong>
  <%= @portfolio.client %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @portfolio.completed %>
</p>



<!--Preloader-->
<!--<div id="loading" class="preloader">-->
  <!--<div class="loading-center">-->
    <!--<div class="loading-center-absolute">-->
      <!--<div class="object object_one"></div>-->
      <!--<div class="object object_two"></div>-->
      <!--<div class="object object_three"></div>-->
      <!--<div class="object object_four"></div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!-- Body main wrapper start -->
<div class="wrapper fix">

  <!-- Header Area Start -->
  <div id="header-area" class="header-area">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">

          <!-- Logo -->
          <a href="index.html" class="logo float-left"><img src="img/logo.png" alt="logo"></a>

          <!-- Menu Tottle -->
          <button class="menu-open float-right"><i class="icon_ul"></i></button>

        </div>
      </div>
    </div>
  </div>
  <!-- Header Area End -->

  <!-- Menu Area Start -->
  <div id="menu-area" class="menu-area">
    <div class="main-menu text-center">

      <!-- Menu Close Button -->
      <button class="menu-close"><i class="icon_close"></i></button>

      <!-- Menu Nav -->
      <nav>
        <ul>
          <li class="active"><a href="#hero-area">home</a></li>
          <li><a href="#about-area">about</a></li>
          <li><a href="#service-area">service</a></li>
          <li><a href="#work-area">work</a></li>
          <li><a href="#testimonial-area">testimonial</a></li>
          <li><a href="#blog-area">blog</a></li>
          <li><a href="#contact-area">contact</a></li>
        </ul>
      </nav>

      <!-- Social -->
      <div class="social">
        <a href="#"><i class="social_facebook"></i></a>
        <a href="#"><i class="social_twitter"></i></a>
        <a href="#"><i class="social_linkedin"></i></a>
        <a href="#"><i class="social_googleplus"></i></a>
        <a href="#"><i class="social_pinterest"></i></a>
      </div>

    </div>
  </div>
  <!-- Menu Area End -->

  <!-- Hero Area Start -->
  <div id="page-banner-area" class="page-banner-area bg-pattern pb-100 pt-200">
    <div class="container">
      <div class="row">

        <!-- Hero Wrapper Start -->
        <div class="page-banner col-xs-12">

          <h2>Work Details</h2>
          <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Work Details</a></li>
          </ul>

        </div>
        <!-- Hero Wrapper End -->

      </div>
    </div>
  </div>
  <!-- Hero Area End -->

  <!-- Portfolio Details Start -->
  <div id="work-details" class="work-details pb-70 pt-100">
    <div class="container">

      <div class="row">
        <div class="work-image col-xs-12"><img src="img/work/single.jpg" alt=""></div>
      </div>

      <div class="row pt-50">

        <div class="work-meta col-sm-4 col-xs-12 mb-30">
          <ul>
            <li><i class="icon_profile"></i><span>Created by:</span>Yeasin Hossain</li>
            <li><i class="icon_calendar"></i><span>Completed on:</span> <%= @portfolio.completed %></li>
            <li><i class="icon_piechart"></i><span>Skills:</span>HTML5 / WP / CSS3</li>
            <li><i class="icon_link"></i><span>Client: </span><a href="#">HasTech</a></li>
            <li><i class="icon_link"></i><span>Category: </span><a href="#">WordPress</a></li>
          </ul>
        </div>
        <div class="work-info col-sm-8 col-xs-12 mb-30">
          <%= @portfolio.about %>
        </div>

      </div>

    </div>
  </div>
  <!-- Portfolio Details End -->

  <!-- Footer Area Start -->
  <div class="footer-area">
    <div class="container">
      <div class="row">

        <!-- Copyright -->
        <div class="copyright text-left col-sm-6 col-xs-12">
          <p>Copyright &copy; AJ 2016.All right reserved.</p>
        </div>

        <!-- Author Credit -->
        <div class="author-credit text-right col-sm-6 col-xs-12">
          <p>Created by <a href="http://devitems.com/">Devitems</a> With <i class="icon_heart_alt"></i></p>
        </div>

      </div>
    </div>
  </div>
  <!-- Footer Area End -->

</div>
<!-- Body main wrapper end -->