<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @portfolio.name %>
</p>

<p>
  <strong>Client:</strong>
  <%= @portfolio.client %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @portfolio.completed %>
</p>

<p>
  <strong>About:</strong>
  <%= @portfolio.about %>
</p>

<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %>
