



<!--Preloader-->
<div id="loading" class="preloader">
  <div class="loading-center">
    <div class="loading-center-absolute">
      <div class="object object_one"></div>
      <div class="object object_two"></div>
      <div class="object object_three"></div>
      <div class="object object_four"></div>
    </div>
  </div>
</div>
<!-- Body main wrapper start -->
<div class="wrapper fix">

  <%= render 'shared/nav' %>
  <!-- Hero Area Start -->
  <div id="page-banner-area" class="page-banner-area bg-pattern pb-100 pt-200">
    <div class="container">
      <div class="row">

        <!-- Hero Wrapper Start -->
        <div class="page-banner col-xs-12">

          <h2><%= @portfolio.name %></h2>
          <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#"><%= @portfolio.name %></a></li>
          </ul>

        </div>
        <!-- Hero Wrapper End -->

      </div>
    </div>
  </div>
  <!-- Hero Area End -->

  <!-- Portfolio Details Start -->
  <div id="work-details" class="work-details pb-70 pt-100">
    <div class="container">

      <div class="row">
        <div class="work-image col-xs-12"><%= image_tag @portfolio.cover %></div>
      </div>

      <div class="row pt-50">

        <div class="work-meta col-sm-4 col-xs-12 mb-30">
          <ul>
            <li><i class="icon_profile"></i><span>Created by:</span>Yeasin Hossain</li>
            <li><i class="icon_calendar"></i><span>Completed on:</span> <%= @portfolio.completed %></li>
            <li><i class="icon_piechart"></i><span>Skills:</span>HTML5 / WP / CSS3</li>
            <li><i class="icon_link"></i><span>Client: </span><a href="#"><%= @portfolio.client %></a></li>
            <li><i class="icon_link"></i><span>Category: </span><a href="#">WordPress</a></li>
          </ul>
        </div>
        <div class="work-info col-sm-8 col-xs-12 mb-30">
          <%= @portfolio.about %>
        </div>

      </div>

    </div>
  </div>
  <!-- Portfolio Details End -->

  <%= render 'shared/footer' %>

</div>
<!-- Body main wrapper end -->