<!-- Header Area Start -->
<div id="header-area" class="header-area">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <!-- Logo -->
        <!--<a href="index.html" class="logo float-left"> </a>-->

        <!-- Menu Tottle -->
        <button class="menu-open float-right"><i class="icon_ul"></i></button>

      </div>
    </div>
  </div>
</div>
<!-- Header Area End -->

<!-- Menu Area Start -->
<div id="menu-area" class="menu-area">
  <div class="main-menu text-center">

    <!-- Menu Close Button -->
    <button class="menu-close"><i class="icon_close"></i></button>

    <!-- Menu Nav -->
    <nav>
      <% if current_page?('/') %>
          <ul>
            <li class=""><%= link_to 'home', '#hero-area' %></li>
            <li><%= link_to 'about', '#about-area' %></li>
            <li><%= link_to 'Process', '#service-area' %></li>
            <li><%= link_to 'work', '#work-area' %></li>
            <li><%= link_to 'blog', '#blog-area' %></li>
            <li><%= link_to 'contact', '#contact-area' %></li>
          </ul>
      <% else %>
          <ul>
            <li class=""><%= link_to 'home', home_path %></li>
            <li><%= link_to 'about', home_path(:anchor => 'about-area') %></li>
            <li><%= link_to 'Process', home_path(:anchor => 'service-area') %></li>
            <li><%= link_to 'work', home_path(:anchor => 'work-area') %></li>
            <li><%= link_to 'blog', home_path(:anchor => 'blog-area') %></li>
            <li><%= link_to 'contact', home_path(:anchor => 'contact-area') %></li>
          </ul>
      <% end %>
    </nav>

    <!-- Social -->
    <div class="social">
      <a href="#"><i class="social_facebook"></i></a>
      <a href="#"><i class="social_twitter"></i></a>
      <a href="#"><i class="social_linkedin"></i></a>
      <a href="#"><i class="social_instagram"></i></a>
      <a href="#"><i class="social_github"></i></a>
    </div>

  </div>
</div>
<!-- Menu Area End -->