<!--Preloader-->
<div id="loading" class="preloader">
  <div class="loading-center">
    <div class="loading-center-absolute">
      <div class="object object_one"></div>
      <div class="object object_two"></div>
      <div class="object object_three"></div>
      <div class="object object_four"></div>
    </div>
  </div>
</div>
<!-- Body main wrapper start -->
<div class="wrapper fix">

  <!-- Header Area Start -->
  <div id="header-area" class="header-area">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">

          <!-- Logo -->
          <a href="index.html" class="logo float-left"> <%= image_tag asset_path 'logo.png' %></a>

          <!-- Menu Tottle -->
          <button class="menu-open float-right"><i class="icon_ul"></i></button>

        </div>
      </div>
    </div>
  </div>
  <!-- Header Area End -->

  <!-- Menu Area Start -->
  <div id="menu-area" class="menu-area">
    <div class="main-menu text-center">

      <!-- Menu Close Button -->
      <button class="menu-close"><i class="icon_close"></i></button>

      <!-- Menu Nav -->
      <nav>
        <ul>
          <li class="active"><a href="#hero-area">home</a></li>
          <li><a href="#about-area">about</a></li>
          <li><a href="#service-area">service</a></li>
          <li><a href="#work-area">work</a></li>
          <li><a href="#testimonial-area">testimonial</a></li>
          <li><a href="#blog-area">blog</a></li>
          <li><a href="#contact-area">contact</a></li>
        </ul>
      </nav>

      <!-- Social -->
      <div class="social">
        <a href="#"><i class="social_facebook"></i></a>
        <a href="#"><i class="social_twitter"></i></a>
        <a href="#"><i class="social_linkedin"></i></a>
        <a href="#"><i class="social_googleplus"></i></a>
        <a href="#"><i class="social_pinterest"></i></a>
      </div>

    </div>
  </div>
  <!-- Menu Area End -->

  <!-- Hero Area Start -->
  <div id="hero-area" class="hero-area bg-pattern">
    <div class="container">
      <div class="row">

        <!-- Hero Wrapper Start -->
        <div class="hero-wrapper col-xs-12">

          <!-- Hero Image -->
          <div class="image float-left"><%= image_tag asset_path 'hero-image.png' %></div>

          <!-- Hero Content -->
          <div class="content float-left">

            <h1>JOSEPH <span>MURPHY</span></h1>
            <h2>The Modern Craftsman</h2>

            <!-- Work Sample -->
            <div class="work-sample float-left">
              <% if !@works_recent.blank? %>
                  <% @works_recent.each do |work| %>
                      <a href="work-details.html" class="sample"><%= image_tag work.square %></a>
                  <% end %>
              <% end %>
              <a href="#work-area" data-scroll class="more-work">latest <span>work <i class="arrow_right"></i></span></a>
            </div>

          </div>

        </div>
        <!-- Hero Wrapper End -->

      </div>
    </div>
  </div>
  <!-- Hero Area End -->

  <!-- About Area Start -->
  <div id="about-area" class="about-area pb-55 pt-100">
    <div class="container">

      <div class="row">

        <!-- About Title -->
        <div class="about-title text-center col-xs-12">
          <h4>Who I Am</h4>
          <h1>I Am Johan <span>Smith</span></h1>
        </div>

        <!-- About Content -->
        <div class="col-md-7 col-xs-12 mb-45">
          <div class="about-content text-left">
            <h2>Hello!</h2>
            <p>Contrary to popular belief, Lorem Ipsum is not simply rand text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professo.</p>
            <p>Not simply random text. It has roots in a piee of classical Latin hayre manus,manus cina onek kosto..face dekhe manus cina jay na.</p>
          </div>
        </div>

        <!-- About Skills -->
        <div class="col-md-5 col-xs-12 mb-45">
          <div class="skills text-left">

            <!-- Single Progress -->
            <p class="progress-text">PHOTOSHOP</p>
            <div class="progress">
              <div class="progress-bar" data-percent="90%" style="width: 90%;"></div>
            </div>

            <!-- Single Progress -->
            <p class="progress-text">INDESIGN</p>
            <div class="progress">
              <div class="progress-bar" data-percent="95%" style="width: 95%;"></div>
            </div>

            <!-- Single Progress -->
            <p class="progress-text">ENGLISH</p>
            <div class="progress">
              <div class="progress-bar" data-percent="85%" style="width: 85%;"></div>
            </div>

          </div>
        </div>

        <!-- Funfacts -->
        <div class="col-lg-10 col-lg-offset-1 col-md-12 col-md-offset-0 col-xs-12 mb-45">
          <div class="row">

            <div class="fun-facts text-center fix">

              <!-- Single Fatcs -->
              <div class="single-fatcs">
                <h2 class="counter">78</h2>
                <p>Happy Clients</p>
              </div>

              <!-- Single Fatcs -->
              <div class="single-fatcs">
                <h2 class="counter">150</h2>
                <p>Project</p>
              </div>

              <!-- Single Fatcs -->
              <div class="single-fatcs">
                <h2 class="counter">50</h2>
                <p>Award Winning</p>
              </div>

              <!-- Single Fatcs -->
              <div class="single-fatcs">
                <h2 class="counter">78</h2>
                <p>Cups of Coffee</p>
              </div>

            </div>

          </div>
        </div>

      </div>

    </div>
  </div>
  <!-- About Area End -->

  <!-- Service Area Start -->
  <div id="service-area" class="service-area bg-pattern pb-100 pt-100">
    <div class="container">

      <!-- Section Title Start -->
      <div class="row">
        <div class="section-title text-center mb-60 col-xs-12"><h1>best <span>services</span></h1></div>
      </div>
      <!-- Section Title End -->

      <div class="row">

        <div class="col-md-10 col-md-offset-1 col-xs-12">

          <!-- Service Tabs List -->
          <ul class="service-tab-list text-center mb-70">
            <li><a href="#ser-photo" data-toggle="tab"><i class="icon_camera_alt"></i><span>photo</span></a></li>
            <li><a href="#ser-product" data-toggle="tab"><i class="icon_heart_alt"></i><span>product</span></a></li>
            <li class="active"><a href="#ser-idea" data-toggle="tab"><i class="icon_lightbulb_alt"></i><span>idea</span></a></li>
            <li><a href="#ser-design" data-toggle="tab"><i class="icon_heart_alt"></i><span>design</span></a></li>
            <li><a href="#ser-develop" data-toggle="tab"><i class="icon_cog"></i><span>develop</span></a></li>
          </ul>

          <!-- Service Tab Panes -->
          <div class="service-tab-content tab-content text-center">

            <!-- Service Tab Pane -->
            <div class="service-pane tab-pane" id="ser-photo">
              <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
            </div>

            <!-- Service Tab Pane -->
            <div class="service-pane tab-pane" id="ser-product">
              <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor. Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.</p>
            </div>

            <!-- Service Tab Pane -->
            <div class="service-pane tab-pane active" id="ser-idea">
              <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor. Contrary to popular belief.</p>
            </div>

            <!-- Service Tab Pane -->
            <div class="service-pane tab-pane" id="ser-design">
              <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock. </p>
            </div>

            <!-- Service Tab Pane -->
            <div class="service-pane tab-pane" id="ser-develop">
              <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor. Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
            </div>

          </div>

        </div>

      </div>
    </div>
  </div>
  <!-- Service Area End -->

  <!-- Work Area Start -->
  <div id="work-area" class="work-area pb-90 pt-100">
    <div class="container">

      <!-- Section Title Start -->
      <div class="row">
        <div class="section-title text-center mb-60 col-xs-12"><h1>latest <span>works</span></h1></div>
      </div>
      <!-- Section Title End -->

      <div class="row row-5">

        <!-- Work Filter -->
        <div class="works-filter text-center">
          <button class="active" data-filter="*">all</button>
          <button data-filter=".web">web</button>
          <button data-filter=".design">design</button>
          <button data-filter=".development">development</button>
          <button data-filter=".brand">brand</button>
        </div>

        <!-- Work Grid -->
        <div class="works-grid">
          <% if !@works.blank? %>
              <% num = 1 %>
             <% @works.each do |work| %>
              <% if num == 1 || num == 6 %>
                  <% num += 1 %>
                  <div class="works-item web development col-md-3 col-sm-4 col-xs-12">
                    <a href="work-details.html">
                      <%= image_tag work.long_potrait %>
                      <h5><%= work.name %></h5>
                    </a>
                  </div>
              <% elsif num == 2 || num == 3 || num == 4 || num == 7 || num == 8 || num == 9 %>
                  <% num += 1 %>
                  <div class="works-item  col-md-3 col-sm-4 col-xs-12">
                    <a href="work-details.html">
                      <%= image_tag work.square %>
                      <h5><%= work.name %></h5>
                    </a>
                  </div>
              <% elsif num == 5 %>
                  <% num += 1 %>
                  <!--Work Item-->
                  <div class="works-item col-md-6 col-sm-8 col-xs-12">
                    <a href="work-details.html">
                      <%= image_tag work.long_landscape %>
                      <h5><%= work.name %></h5>
                    </a>
                  </div>
              <% end  %>
          <% end %>
              <% end %>

        </div>

      </div>
    </div>
  </div>
  <!-- Work Area End -->



  <!-- Blog Area Start -->
  <div id="blog-area" class="blog-area pb-70 pt-100">
    <div class="container">

      <!-- Section Title Start -->
      <div class="row">
        <div class="section-title text-center mb-60 col-xs-12"><h1>latest <span>blog</span></h1></div>
      </div>
      <!-- Section Title End -->

      <div class="row">

        <div class="blog-wrapper">
          <% if !@blogs.blank? %>
          <% @blogs.each do |blog| %>
              <!-- Blog Item -->
              <div class="col-md-6 col-xs-12 mb-30">
                <div class="blog-item text-left">
                  <h4 class="title"><a href="blog-details.html"><%= blog.title %></a></h4>
                  <span class="date">Date:07 oct 16</span>
                  <p><%= blog.body %></p>
                  <a href="blog-details.html" class="read-more">READ MORE</a>
                </div>
              </div>
          <% end %>
              <% end %>

        </div>

      </div>

    </div>
  </div>
  <!-- Blog Area End -->

  <!-- Contact Area Start -->
  <div id="contact-area" class="contact-area bg-pattern pb-100 pt-100">
    <div class="container">

      <!-- Section Title Start -->
      <div class="row">
        <div class="section-title text-center mb-60 col-xs-12"><h1>get in <span>touch</span></h1></div>
      </div>
      <!-- Section Title End -->

      <div class="row">

        <!-- Contact Map -->
        <div class="col-md-5 col-md-offset-1 col-xs-12">
          <div id="contact-map"></div>
        </div>

        <div class="col-md-5 col-xs-12">

          <!-- Contact Form -->
          <div class="contact-form text-left fix">
            <%= render 'feedbacks/form', feedback: @feedback %>
            <p class="form-messege"></p>
          </div>

          <!-- Contact Info -->
          <div class="contact-info text-left fix">
            <div class="single">
              <storng>Phone :</storng>
              <p>901 000-0000</p>
            </div>
            <div class="single">
              <storng>Email :</storng>
              <p>contact@jmurphy.us</p>
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>
  <!-- Contact Area End -->

  <!-- Footer Area Start -->
  <div class="footer-area">
    <div class="container">
      <div class="row">

        <!-- Copyright -->
        <div class="copyright text-left col-sm-6 col-xs-12">
          <p>Copyright &copy; Joseph Murphy 2016.All right reserved.</p>
        </div>

        <!-- Author Credit -->
        <div class="author-credit text-right col-sm-6 col-xs-12">
          <p></p>
        </div>

      </div>
    </div>
  </div>
  <!-- Footer Area End -->

</div>
<!-- Body main wrapper end -->