<!--Preloader-->
<!--<div id="loading" class="preloader">-->
  <!--<div class="loading-center">-->
    <!--<div class="loading-center-absolute">-->
      <!--<div class="object object_one"></div>-->
      <!--<div class="object object_two"></div>-->
      <!--<div class="object object_three"></div>-->
      <!--<div class="object object_four"></div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!-- Body main wrapper start -->
<div class="wrapper fix">



 <%= render 'shared/nav' %>

  <!-- Hero Area Start -->
  <div id="hero-area" class="hero-area bg-pattern">
    <div class="container">
      <div class="row">

        <!-- Hero Wrapper Start -->
        <div class="hero-wrapper col-xs-12">

          <!-- Hero Image -->
          <div class="image float-left"><%= image_tag asset_path 'hero-image.png' %></div>

          <!-- Hero Content -->
          <div class="content float-left">

            <h1>JOSEPH <span>MURPHY</span></h1>
            <h2>The Modern Craftsman</h2>

            <!-- Work Sample -->
            <div class="work-sample float-left">
              <% if !@works_recent.blank? %>
                  <% @works_recent.each do |work| %>
                      <a href="<%= portfolio_path work.id %>" class="sample"><%= image_tag work.square %></a>
                  <% end %>
              <% end %>
              <a href="#work-area" data-scroll class="more-work">latest <span>work <i class="arrow_right"></i></span></a>
            </div>

          </div>

        </div>
        <!-- Hero Wrapper End -->

      </div>
    </div>
  </div>
  <!-- Hero Area End -->

  <!-- About Area Start -->
  <div id="about-area" class="about-area pb-55 pt-100">
    <div class="container">

      <div class="row">

        <!-- About Title -->
        <div class="about-title text-center col-xs-12">
          <h4>Who I Am</h4>
          <h1>I Am Joseph <span>Murphy</span></h1>
        </div>

        <!-- About Content -->
        <div class="col-md-7 col-xs-12 mb-45">
          <div class="about-content text-left">
            <h2>Hello!</h2>
            <p>
              I'm a web developer in Memphis with a Bachelors of Computer Science.
              Looking for work in the web development industry.
              I have an avid interest in making websites functional and pleasing to view.
              While pursuing my degree I have helped others build or improve their websites,
              and have worked on improving the functionality of multiple client websites.
              </p>
          </div>
        </div>

        <!-- About Skills -->
        <div class="col-md-5 col-xs-12 mb-45">
          <div class="skills text-left">

            <!-- Single Progress -->
            <p class="progress-text">HTML</p>
            <div class="progress">
              <div class="progress-bar" data-percent="90%" style="width: 90%;"></div>
            </div>

            <!-- Single Progress -->
            <p class="progress-text">CSS</p>
            <div class="progress">
              <div class="progress-bar" data-percent="85%" style="width: 85%;"></div>
            </div>

            <!-- Single Progress -->
            <p class="progress-text">RUby on Rails</p>
            <div class="progress">
              <div class="progress-bar" data-percent="85%" style="width: 85%;"></div>
            </div>

          </div>
        </div>

        <!-- Funfacts -->
        <div class="col-lg-10 col-lg-offset-1 col-md-12 col-md-offset-0 col-xs-12 mb-45">
          <div class="row">

            <div class="fun-facts text-center fix">

              <!-- Single Fatcs -->
              <div class="single-fatcs">
                <h2 class="counter">650</h2>
                <p>commits</p>
              </div>

              <!-- Single Fatcs -->
              <div class="single-fatcs">
                <h2 class="counter">5</h2>
                <p>Projects</p>
              </div>

              <!-- Single Fatcs -->
              <div class="single-fatcs">
                <h2 class="counter">10</h2>
                <p>Skills</p>
              </div>

              <!-- Single Fatcs -->
              <div class="single-fatcs">
                <h2 class="counter">3</h2>
                <p>Clients</p>
              </div>

            </div>

          </div>
        </div>

        <div class="col-md-6 col-md-offset-3">
          <div class="row">
            <div class="calendar center-block">
              <!-- Loading stuff -->
              Loading the data just for you.
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
  <!-- About Area End -->


  <!-- work Area Start -->
  <div id="exp-area" class="exp-area pb-55 pt-100">
    <div class="container">

      <div class="row">

        <!-- About Title -->
        <div class="exp-title text-center col-xs-12">
          <h1>What I <span>Do</span></h1>
        </div>

        <div class="col-md-4 col-sm-12">
          <h2>Expierences</h2>
        </div>
        <div class="col-md-7 col-sm-12" style="padding-bottom: 30px;">
          <div class="experience">
            <div class="expr-group">
              <% @experiences.each do |work| %>
                  <div class="single-expr" style="padding-bottom: 30px;">
                    <h4><%= work.job %></h4>
                    <p><%= work.company + ', ' + work.city + ', ' + work.state + ', ' %>
                      <%= generate_date(work.start_date, work.end_date,work.present )  %></p>
                    <p><%= work.description  %></p>
                  </div>
              <% end %>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-12">
          <h2>Education</h2>
        </div>
        <div class="col-md-7 col-sm-12">
          <div class="experience">
            <div class="expr-group">
              <div class="single-expr">
                <h4>Computer Science, Bachelor of Science </h4>
                <p>University of Memphis, Memphis, TN, August 2012 – May 2017</p>
              </div>

            </div>
          </div>
        </div>


      </div>

    </div>
  </div>
  <!-- work Area End -->

  <!-- Service Area Start -->
  <div id="service-area" class="service-area bg-pattern pb-100 pt-100">
    <div class="container">

      <!-- Section Title Start -->
      <div class="row">
        <div class="section-title text-center mb-60 col-xs-12"><h1>My <span>Process</span></h1></div>
      </div>
      <!-- Section Title End -->

      <div class="row">

        <div class="col-md-10 col-md-offset-1 col-xs-12">

          <!-- Service Tabs List -->
          <ul class="service-tab-list text-center mb-70">
            <li class="active"><a href="#ser-photo" data-toggle="tab"><i class="icon_lightbulb_alt"></i><span>Think</span></a></li>
            <li><a href="#ser-product" data-toggle="tab"><i class="icon_pencil"></i><span>Design</span></a></li>
            <li class=""><a href="#ser-idea" data-toggle="tab"><i class="icon_tools"></i><span>Create</span></a></li>
            <li><a href="#ser-design" data-toggle="tab"><i class="icon_refresh"></i><span>Iterate</span></a></li>
            <li><a href="#ser-develop" data-toggle="tab"><i class="icon_mail"></i><span>Deliver</span></a></li>
          </ul>

          <!-- Service Tab Panes -->
          <div class="service-tab-content tab-content text-center">

            <!--&lt;!&ndash; Service Tab Pane &ndash;&gt;-->
            <div class="service-pane tab-pane active" id="ser-photo">
              <p>The development process starts at the thought process. What does the client need, and what will make them succeed.</p>
            </div>

            <!--&lt;!&ndash; Service Tab Pane &ndash;&gt;-->
            <div class="service-pane tab-pane" id="ser-product">
              <p>Without a through design process project will not be successful. Due to the potential of scope creep and other thing being introduced.</p>
            </div>

            <!--&lt;!&ndash; Service Tab Pane &ndash;&gt;-->
            <div class="service-pane tab-pane" id="ser-idea">
              <p>This next step involves implementing the current iterations user storries in priority of the client.</p>
            </div>

            <!--&lt;!&ndash; Service Tab Pane &ndash;&gt;-->
            <div class="service-pane tab-pane" id="ser-design">
              <p>After the end of the iteration let the client give you feedback, and create new user stories to develop the client project.</p>
            </div>

            <!--&lt;!&ndash; Service Tab Pane &ndash;&gt;-->
            <div class="service-pane tab-pane" id="ser-develop">
              <p>Finally, after the client is happy with the project deliver and deploy the project.</p>
            </div>

          </div>

        </div>

      </div>
    </div>
  </div>
  <!-- Service Area End -->

  <!-- Work Area Start -->
  <div id="work-area" class="work-area pb-90 pt-100">
    <div class="container">

      <!-- Section Title Start -->
      <div class="row">
        <div class="section-title text-center mb-60 col-xs-12"><h1>latest <span>works</span></h1></div>
      </div>
      <!-- Section Title End -->

        <!-- Work Filter -->
        <div class="works-filter text-center">
          <button class="active" data-filter="*">all</button>
          <% @categories.each do |cat| %>
              <button data-filter=".<%= cat.category.name %>"><%= cat.category.name %></button>
          <% end %>
        </div>


        <!-- Work Grid -->
        <div class="works-grid">
          <% if !@works.blank? %>
              <% num = 1 %>
             <% @works.each do |work| %>
              <% if num == 1 || num == 6 %>
                  <% num += 1 %>
                  <div class="works-item <%= work.category.name %> col-md-3 col-sm-4 col-xs-12">
                    <a href="<%= public_portfolio_path work.id %>">
                      <%= image_tag work.long_potrait %>
                      <h5><%= work.name %></h5>
                    </a>
                  </div>
              <% elsif num == 2 || num == 3 || num == 4 || num == 7 || num == 8 || num == 9 %>
                  <% num += 1 %>
                  <div class="works-item <%= work.category.name %> col-md-3 col-sm-4 col-xs-12">
                    <a href="<%= public_portfolio_path work.id %>">
                      <%= image_tag work.square %>
                      <h5><%= work.name %></h5>
                    </a>
                  </div>
              <% elsif num == 5 %>
                  <% num += 1 %>
                  <!--Work Item-->
                  <div class="works-item <%= work.category.name %> col-md-6 col-sm-8 col-xs-12">
                    <a href="<%= public_portfolio_path work.id %>">
                      <%= image_tag work.long_landscape %>
                      <h5><%= work.name %></h5>
                    </a>
                  </div>
              <% end  %>
          <% end %>
              <% end %>

        </div>

      </div>
    </div>
  </div>
  <!-- Work Area End -->



  <!-- Blog Area Start -->
  <div id="blog-area" class="blog-area pb-70 pt-100">
    <div class="container">

      <!-- Section Title Start -->
      <div class="row">
        <div class="section-title text-center mb-60 col-xs-12"><h1>latest <span>blog</span></h1></div>
      </div>
      <!-- Section Title End -->

      <div class="row">

        <div class="blog-wrapper">
          <% if !@blogs.blank? %>
          <% @blogs.each do |blog| %>
              <!-- Blog Item -->
              <div class="col-md-6 col-xs-12 mb-30">
                <div class="blog-item text-left">
                  <h4 class="title"><%= link_to blog.title, public_blog_path(blog.id) %></h4>
                  <span class="date">Date:07 oct 16</span>
                  <p><%= blog.body %></p>

                  <a href="<%= public_blog_url(blog.id) %>" class="read-more">READ MORE</a>
                </div>
              </div>
          <% end %>
              <% end %>

        </div>

      </div>

    </div>
  </div>
  <!-- Blog Area End -->

  <!-- Contact Area Start -->
  <div id="contact-area" class="contact-area bg-pattern pb-100 pt-100">
    <div class="container">

      <!-- Section Title Start -->
      <div class="row">
        <div class="section-title text-center mb-60 col-xs-12"><h1>get in <span>touch</span></h1></div>
      </div>
      <!-- Section Title End -->

      <div class="row">

        <!-- Contact Map -->
        <div class="col-md-5 col-md-offset-1 col-xs-12">
          <div id="contact-map"></div>
        </div>

        <div class="col-md-5 col-xs-12">

          <!-- Contact Form -->
          <div class="contact-form text-left fix">
            <%= render 'feedbacks/form', feedback: @feedback %>
            <p class="form-messege"></p>
          </div>

          <!-- Contact Info -->
          <div class="contact-info text-left fix">
            <div class="single">
              <storng>Phone :</storng>
              <p>901 000-0000</p>
            </div>
            <div class="single">
              <storng>Email :</storng>
              <p>contact@jmurphy.us</p>
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>
  <!-- Contact Area End -->

<%= render 'shared/footer' %>

</div>
<!-- Body main wrapper end -->