<%= form_with(model: experience, local: true) do |form| %>
  <% if experience.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(experience.errors.count, "error") %> prohibited this experience from being saved:</h2>

      <ul>
      <% experience.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :company %>
    <%= form.text_field :company, id: :experience_company %>
  </div>

  <div class="field">
    <%= form.label :job %>
    <%= form.text_field :job, id: :experience_job %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_select :start_date, id: :experience_start_date %>
  </div>

  <div class="field">
  <%= form.label :end_date %>
  <%= form.date_select :end_date, id: :experience_end_date %>
</div>
    <div class="field">
      <%= form.label :present %>
      <%= form.check_box :present %>
    </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :experience_description %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :experience_city %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, id: :experience_state %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
