<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @socail_link.name %>
</p>

<p>
  <strong>Link:</strong>
  <%= @socail_link.link %>
</p>

<%= link_to 'Edit', edit_socail_link_path(@socail_link) %> |
<%= link_to 'Back', socail_links_path %>
