<!DOCTYPE html>
<html>
  <head>
    <title>Jmurphy</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if admin_signed_in? %>
      <li>
        <%= link_to('Logout', destroy_admin_session_path, :method => :delete) %>
      </li>
  <% end %>
  <% #if current_page?('/') || @portfolio
  if false%>
          <%= yield %>
  <% else %>
      <div class="container-fluid">
        <div class="row">
          <%= yield %>
        </div>
      </div>
  <% end %>
  <% if current_page?('/') %>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdWLY_Y6FL7QGW5vcO3zajUEsrKfQPNzI"></script>
  <% else %>

  <% end %>
  <%= javascript_include_tag 'application',  %>
  </body>
</html>
